<mat-tab-group>
    <mat-tab label="Current Page">
        @if(current().length === 0){
        <p class="cp-empty">No MODs ran on this page.</p>
        }
        @for(element of current(); track element.name){
        <div class="cp-mod">
            <div class="cp-mod-head">
                <span class="cp-mod-name">{{element.name}}</span>
                <span class="cp-files">
                    @for(r of element.results; track r.file){
                    @if(r.success){
                    <mat-icon class="primary-icon" [matTooltip]="r.file">check</mat-icon>
                    } @else {
                    <mat-icon class="warn-icon" [matTooltip]="r.error">warning</mat-icon>
                    }
                    }
                </span>
            </div>
            @if(modFor(element.name); as mod){
            @if(mod.options?.length){
            <app-mod-options [mod]="mod" surface="popup"></app-mod-options>
            }
            }
        </div>
        }
    </mat-tab>
    <mat-tab label="Options">
        <div class="row">
            <button mat-raised-button (click)="openOptions()">Open Option Page</button>
        </div>
        <p class="mobile-select-warning">
            On mobile, "Select Mod Folder" in this popup may not respond. Use "Open Option Page"
            and pick the folder there instead.
        </p>
        <app-folder-controls></app-folder-controls>
        <app-mod-list surface="popup"></app-mod-list>
    </mat-tab>
</mat-tab-group>
